$blue_base_gradient_color: #d7f5ff;
$blue_middle_gradient_color: #53cbf1;
$blue_final_color: #05abe0;

$green_base_gradient_color: #f8ffe8;
$green_middle_gradient_color: #d4f17c;
$green_final_color: #b7df2d;

$pink_base_gradient_color: #ffe5f2;
$pink_middle_gradient_color: #ff5db1;
$pink_final_color: #ef017c;

$yellow_base_gradient_color: #fff5db;
$yellow_middle_gradient_color: #ffd65e;
$yellow_final_color: #febf04;


$bgColor: #171C28;
$txtColor: #99A3BA;

#records {
  display: none;

  &.open {
    display: block;
  }

  .accordion {
    box-sizing: border-box;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    width: 95%;
    margin: auto;
    margin-bottom: 5px;

    &-select {
      cursor: pointer;
      margin: 0;
      opacity: 0;
      z-index: 1;
    }

    &-title {
      position: relative;

      &:not(:nth-last-child(2))::after {
        border: 1px solid transparent;
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }

      span {
        bottom: 0px;
        box-sizing: border-box;
        display: block;
        position: absolute;
        white-space: nowrap;
        width: 100%;
      }
    }

    &-content {
      box-sizing: border-box;
      overflow: auto;
      position: relative;
      transition: margin 0.3s ease 0.1s;
    }

    .accordion-select:checked+.accordion-title+.accordion-content {
      margin-bottom: 0;
      margin-right: 0;
    }
  }

  /* Generated styles starts here */
  .accordion {
    border-color: #dedede;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    flex-direction: column;
    height: auto;

    &-title,
    &-select {
      background-color: $bgColor;
      color: $txtColor;
      width: 100%;
      height: 50px;
      font-size: 15px;
    }

    &-select {
      margin-bottom: -50px;
      margin-right: -50px;
    }

    &-title:not(:nth-last-child(2))::after {
      border-bottom-color: rgb(234, 234, 234);
      border-right-color: transparent;
    }

    .accordion-select:hover+.accordion-title,
    .accordion-select:checked+.accordion-title {
      background-color: $txtColor;
      color: #000000;
    }

    &-title span {
      transform: rotate(0deg);
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
      padding-left: 33px;
      padding-right: 33px;
      line-height: 50px;
    }

    &-content {
      background-color: #f7f7f7;
      color: #7f8787;
      height: 80px;
      margin-bottom: -80px;
      margin-right: 0;
      padding: 30px;
      width: 100%;
    }
  }
}

html {
  color: #011921;
  font-family: 'Pacifico', cursive;
  user-select: none;
  height: 100vh;

  background: linear-gradient(to bottom, $blue_base_gradient_color 0%, $blue_middle_gradient_color 40%, $blue_final_color 100%);

  &.blue {
    background: linear-gradient(to bottom, $blue_base_gradient_color 0%, $blue_middle_gradient_color 40%, $blue_final_color 100%);
  }

  &.green {
    background: linear-gradient(to bottom, $green_base_gradient_color 0%, $green_middle_gradient_color 40%, $green_final_color 100%);
  }

  &.pink {
    background: linear-gradient(to bottom, $pink_base_gradient_color 0%, $pink_middle_gradient_color 40%, $pink_final_color 100%);
  }

  &.yellow {
    background: linear-gradient(to bottom, $yellow_base_gradient_color 0%, $yellow_middle_gradient_color 40%, $yellow_final_color 100%);
  }

  &.special {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}


body {
  height: 90vh;

  .header {
    display: block;
    font-family: 'Great Vibes', cursive;
    margin: 40px 0 40px 0;

    .title {
      position: relative;
      background-color: $bgColor;
      color: $txtColor;
      text-align: center;
      padding: 10px 40px 0 40px;
      width: 40vw;
      font-size: 5vw;
      border-radius: 40px;
      margin: auto;
      text-shadow: 2px 2px 15px $txtColor;
      box-shadow: 0 5px 15px 2px $bgColor;

      /*&::before {
        content: '';
        position: absolute;
        top: 50%;
        height: 8px;
        background-color: #011921;
        border-radius: 5px;
        width: 600px;
        box-shadow: 5px 5px 5px rgba(82, 82, 82, 0.3);
      }*/
    }
  }
}

.main-block {
  display: flex;
  flex-direction: row;
  height: 60vh;

  #records {
    text-align: center;
    width: 300px;
    height: 100%;
    border-radius: 40px;
    margin-left: 20px;
    margin-top: 50px;
    background-color: $bgColor;
    color: $txtColor;

    .logo {
      opacity: 0.8;
      animation-name: rotateL;
      animation-duration: 5s;
    }

    @keyframes rotateL {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }

    &_select {
      margin-bottom: 20px;
      width: 100%;
    }
  }

  #center_operation_windows {
    position: relative;
    width: 100%;
    height: 100%;
    color: $txtColor;
    background-color: $bgColor;
    border-radius: 40px;
    text-align: center;
    margin: 50px 50px 0 50px;
    box-shadow: 0 5px 15px 2px $bgColor;

    .operation-title {
      position: relative;
      font-size: 3vw;
      border-color: $txtColor;
      border-radius: 30px;
      width: 15vw;
      margin: 20px auto 20px auto;
      background-color: #0202034f;
      text-shadow: 0 0 5px $txtColor;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: inset 0 0 10px $txtColor, 0 0 20px $txtColor;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 30px;
      }
    }

    #point_number {
      font-size: 30px;
      margin: 10px;
    }

    #operation {

      display: flex;
      flex-direction: column;
      font-size: 50px;

      #user_result {
        margin: 0;
      }

      &_display {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      /* ------------- Buttons ----------------
      Credit : Jesper Lauridsen
      https://codepen.io/justjspr/pen/YbXeXq
      ------------------------------------*/

      #start_btn,
      #validate_btn,
      #restart_btn {
        cursor: pointer;
        color: white;
        width: 150px;
        height: 50px;
        border-radius: 180px;
        position: relative;
        background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
        line-height: 12px;
        margin: 20px auto 20px auto;

        &:before {
          content: '';
          z-index: 1;
          position: absolute;
          display: block;
          width: 80%;
          height: 70%;
          top: 15%;
          left: 10%;
          transition: 0.3s opacity ease-in-out;
          filter: blur(15px);
          opacity: 0;
          background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
        }

        &:hover:before {
          opacity: 1;
          transition: 0.3s opacity ease-in-out;
          filter: blur(25px);
          background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
        }

        &:after {
          content: 'PLAY !';
          text-align: center;
          line-height: 40px;
          font-size: 18px;
          color: rgba(235, 235, 235, 1);
          font-weight: bold;
          z-index: 5;
          position: absolute;
          display: block;
          border-radius: 180px;
          width: 92%;
          height: 80%;
          top: 10%;
          left: 4%;
          background-color: #151924;
        }
      }

      #validate_btn {
        &:after {
          content: 'OK';
        }
      }

      div {
        margin: 5px;
      }

      input {
        margin: 5px;
      }
    }

    .btn-record,
    .btn-themes {
      text-decoration: none;
      color: $txtColor;
      border-style: solid;
      border-width: 1px;
      border-color: $txtColor;
      border-radius: 10px;
      width: 100px;
      box-shadow: 0 0 0 0 $txtColor;

      &:hover {
        animation: shine 1s ease infinite;

        @keyframes shine {
          0% {
            box-shadow: 0 0 0 0 $txtColor;
          }

          50% {
            box-shadow: 0 0 5px 5px $txtColor;
          }

          100% {
            box-shadow: 0 0 0 0 $txtColor;

          }
        }
      }
    }

    .btn-record {
      position: absolute;
      top: 30px;
      left: 30px;
    }

    .btn-themes {
      position: absolute;
      top: 30px;
      right: 30px;
    }
  }
}

#right {
  display: none;
  margin-top: 50px;
  width: 300px;
  height: 100%;
  background-color: $bgColor;
  color: $txtColor;
  border-radius: 40px;
  text-align: center;
  position: relative;
  right: 20px;

  &.open {
    display: block;
  }

  .date {
    height: 120px;
  }

  .theme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .5s ease-in-out;

    &.open .menu-btn_plus {
      background: transparent;
      box-shadow: none;
      transform: rotate(90deg);

      &::before {
        transform: rotate(450deg);
      }
    }

    .menu-btn {
      text-align: initial;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border-style: double;
      border-color: rgba(75,
          75,
          75,
          0.377);
      ;
      background-color: rgba(75,
          75,
          75,
          0.377);
      width: 40px;
      height: 40px;
      cursor: pointer;
      transition: all .5s ease-in-out;

      &.open .menu-btn_plus {
        background: transparent;
        box-shadow: none;
        transform: rotate(90deg);

        &::before {
          transform: rotate(450deg);
        }
      }

      &_plus {
        position: absolute;
        width: 20px;
        height: 5px;
        background: white;
        border-radius: 5px;
        transition: all .5s ease-in-out;
        transform: rotate(90deg);

        &::before {
          content: '';
          position: absolute;
          width: 20px;
          height: 5px;
          background: white;
          border-radius: 5px;
          transition: all .5s ease-in-out;
          transform: rotate(90deg);
        }
      }
    }

    .menu-option {
      padding: 0;
      list-style: none;
      text-align: center;
      transition: 0.8s;
      pointer-events: none;


      li {
        text-align: center;
        opacity: 0;
        padding: 4px;

        a {
          text-decoration: none;
          color: white;
          padding: 0 5px 0 5px;
          border-style: double;
          border-color: rgba(75,
              75,
              75,
              0.377);
          border-radius: 20%;
          background-color: rgba(75,
              75,
              75,
              0.377);
          cursor: default;
        }
      }


      &.closed li {
        animation-name: slideout;
        animation-duration: .7s;
        opacity: 0;
      }

      @keyframes slideout {
        from {
          opacity: 1;
        }

        to {
          opacity: 0;
        }
      }

      &.open {

        li {
          display: block;
          animation-duration: 1s;
          animation-name: slidein;
          opacity: 1;

          a {
            cursor: pointer;
            pointer-events: initial;
          }
        }
      }

      @keyframes slidein {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }
    }

  }

}

#footer {
  height: 50px;
}





.dropdown {
  --max-scroll: 8;
  --text: #3F4656;
  --border: #2F3545;
  --borderActive: #23C4F8;
  --background: #151924;
  --arrow: #6C7486;
  --arrowActive: #E4ECFA;
  --listText: $txtColor;
  --listBackground: #F5F9FF;
  --listActive: #E4ECFA;
  --listTextActive: #6C7486;
  --listBorder: none;
  --textFilled: $txtColor;
  margin: auto;
  padding-top: 20px;
  width: 220px;
  position: relative;

  select {
    display: none;
  }

  &>span {
    cursor: pointer;
    padding: 9px 16px;
    border-radius: 6px;
    display: block;
    position: relative;
    color: var(--text);
    border: 1px solid var(--border);
    background: var(--background);
    transition: all .3s ease;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 8px;
      height: 2px;
      border-radius: 1px;
      top: 50%;
      right: 15px;
      background: var(--arrow);
      transition: all .3s ease;
    }

    &:before {
      margin-right: 4px;
      transform: scale(.96, .8) rotate(50deg);
    }

    &:after {
      transform: scale(.96, .8) rotate(-50deg);
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    max-height: calc(var(--max-scroll) * 42px);
    top: 42px;
    left: 0;
    z-index: 10;
    right: 0;
    background: var(--listBackground);
    border-radius: 6px;
    overflow-x: hidden;
    overflow-y: auto;
    transform-origin: 0 0;
    transition: opacity .2s ease, visibility .2s ease, transform .3s cubic-bezier(.4, .6, .5, 1.32);
    transform: scale(.8) translate(0, 4px);
    border: 1px solid var(--listBorder);

    li {
      opacity: 0;
      transform: translate(6px, 0);
      transition: all .3s ease;

      a {
        cursor: pointer;
        display: block;
        padding: 10px 16px;
        color: var(--listText);
        text-decoration: none;
        outline: none;
        position: relative;
        transition: all .3s ease;

        &:hover {
          color: var(--listTextActive);
        }
      }

      &.active {
        a {
          color: var(--listTextActive);
          background: var(--listActive);

          &:before,
          &:after {
            --scale: .6;
            content: '';
            display: block;
            width: 10px;
            height: 2px;
            position: absolute;
            right: 17px;
            top: 50%;
            opacity: 0;
            background: var(--listText);
            transition: all .2s ease;
          }

          &:before {
            transform: rotate(45deg) scale(var(--scale));
          }

          &:after {
            transform: rotate(-45deg) scale(var(--scale));
          }

          &:hover {

            &:before,
            &:after {
              --scale: .9;
              opacity: 1;
            }
          }
        }
      }

      &:first-child {
        a {
          border-radius: 6px 6px 0 0;
        }
      }

      &:last-child {
        a {
          border-radius: 0 0 6px 6px;
        }
      }
    }
  }

  &.filled {
    &>span {
      color: var(--textFilled);
    }
  }

  &.open {
    &>span {
      border-color: var(--borderActive);

      &:before,
      &:after {
        background: var(--arrowActive);
      }

      &:before {
        transform: scale(.96, .8) rotate(-50deg);
      }

      &:after {
        transform: scale(.96, .8) rotate(50deg);
      }
    }

    ul {
      opacity: 1;
      visibility: visible;
      transform: scale(1) translate(0, 12px);
      transition: opacity .3s ease, visibility .3s ease, transform .3s cubic-bezier(.4, .6, .5, 1.32);

      li {
        opacity: 1;
        transform: translate(0, 0);
        $i: 1;

        @while $i <=10 {
          $delay: $i * 80;

          &:nth-child(#{$i}) {
            transition-delay: #{$delay}ms;
          }

          $i: $i+1;
        }
      }
    }
  }
}

select {
  --text: #3F4656;
  --border: #2F3545;
  --background: #151924;

  &.dropdown {
    padding: 9px 16px;
    border-radius: 6px;
    color: var(--text);
    border: 1px solid var(--border);
    background: var(--background);
    line-height: 22px;
    font-size: 16px;
    font-family: inherit;
    -webkit-appearance: none;
  }
}