.accordion {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  width: 95%;
  margin: auto;
  margin-bottom: 5px;
}

.accordion-select {
  cursor: pointer;
  margin: 0;
  opacity: 0;
  z-index: 1;
}

.accordion-title {
  position: relative;
}

.accordion-title:not(:nth-last-child(2))::after {
  border: 1px solid transparent;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.accordion-title span {
  bottom: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  white-space: nowrap;
  width: 100%;
}

.accordion-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
  position: relative;
  -webkit-transition: margin 0.3s ease 0.1s;
  transition: margin 0.3s ease 0.1s;
}

.accordion .accordion-select:checked + .accordion-title + .accordion-content {
  margin-bottom: 0;
  margin-right: 0;
}

/* Generated styles starts here */
.accordion {
  border-color: #dedede;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.accordion-title, .accordion-select {
  background-color: #171C28;
  color: #99A3BA;
  width: 100%;
  height: 50px;
  font-size: 15px;
}

.accordion-select {
  margin-bottom: -50px;
  margin-right: -50px;
}

.accordion-title:not(:nth-last-child(2))::after {
  border-bottom-color: #eaeaea;
  border-right-color: transparent;
}

.accordion .accordion-select:hover + .accordion-title,
.accordion .accordion-select:checked + .accordion-title {
  background-color: #99A3BA;
  color: #000000;
}

.accordion-title span {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  padding-left: 33px;
  padding-right: 33px;
  line-height: 50px;
}

.accordion-content {
  background-color: #f7f7f7;
  color: #7f8787;
  height: 80px;
  margin-bottom: -80px;
  margin-right: 0;
  padding: 30px;
  width: 100%;
}

html {
  color: #011921;
  font-family: 'Pacifico', cursive;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#d7f5ff), color-stop(40%, #53cbf1), to(#05abe0));
  background: linear-gradient(to bottom, #d7f5ff 0%, #53cbf1 40%, #05abe0 100%);
}

html.blue {
  background: -webkit-gradient(linear, left top, left bottom, from(#d7f5ff), color-stop(40%, #53cbf1), to(#05abe0));
  background: linear-gradient(to bottom, #d7f5ff 0%, #53cbf1 40%, #05abe0 100%);
}

html.green {
  background: -webkit-gradient(linear, left top, left bottom, from(#f8ffe8), color-stop(40%, #d4f17c), to(#b7df2d));
  background: linear-gradient(to bottom, #f8ffe8 0%, #d4f17c 40%, #b7df2d 100%);
}

html.pink {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffe5f2), color-stop(40%, #ff5db1), to(#ef017c));
  background: linear-gradient(to bottom, #ffe5f2 0%, #ff5db1 40%, #ef017c 100%);
}

html.yellow {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff5db), color-stop(40%, #ffd65e), to(#febf04));
  background: linear-gradient(to bottom, #fff5db 0%, #ffd65e 40%, #febf04 100%);
}

body {
  height: 90vh;
}

body .header {
  display: block;
  height: 230px;
}

body .header .title {
  position: relative;
  height: 100%;
  text-align: center;
  padding: 40px;
  font-size: 80px;
  margin: auto;
  text-shadow: 5px 5px 5px rgba(82, 82, 82, 0.3);
}

body .header .title::before {
  content: '';
  position: absolute;
  top: 50%;
  height: 8px;
  background-color: #011921;
  border-radius: 5px;
  width: 600px;
  -webkit-box-shadow: 5px 5px 5px rgba(82, 82, 82, 0.3);
          box-shadow: 5px 5px 5px rgba(82, 82, 82, 0.3);
}

.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 60vh;
}

.main-block #records {
  text-align: center;
  width: 300px;
  margin-left: 20px;
  margin-top: 50px;
}

.main-block #records .logo {
  opacity: 0.8;
  -webkit-animation-name: rotateL;
          animation-name: rotateL;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@-webkit-keyframes rotateL {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateL {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.main-block #records_select {
  margin-bottom: 20px;
  width: 100%;
}

.main-block #center_operation_windows {
  width: 100%;
  height: 100%;
  color: #99A3BA;
  background-color: #171C28;
  border-radius: 40px;
  border-style: ridge;
  text-align: center;
  margin: 50px 50px 0 50px;
}

.main-block #center_operation_windows h2 {
  position: relative;
  font-size: 3vw;
  border-style: solid;
  border-color: #99A3BA;
  border-radius: 30px;
  width: 15vw;
  margin: 20px auto 20px auto;
  background-color: #151924;
}

.main-block #center_operation_windows h2::after {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  border-style: solid;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.main-block #center_operation_windows #point_number {
  font-size: 30px;
  margin: 10px;
}

.main-block #center_operation_windows #operation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 50px;
  /* ------------- Buttons ----------------
      Credit : Jesper Lauridsen
      https://codepen.io/justjspr/pen/YbXeXq
      ------------------------------------*/
}

.main-block #center_operation_windows #operation #user_result {
  margin: 0;
}

.main-block #center_operation_windows #operation_display {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-block #center_operation_windows #operation #start_btn,
.main-block #center_operation_windows #operation #validate_btn,
.main-block #center_operation_windows #operation #restart_btn {
  cursor: pointer;
  color: white;
  width: 150px;
  height: 50px;
  border-radius: 180px;
  position: relative;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  line-height: 12px;
  margin: 20px auto 20px auto;
}

.main-block #center_operation_windows #operation #start_btn:before,
.main-block #center_operation_windows #operation #validate_btn:before,
.main-block #center_operation_windows #operation #restart_btn:before {
  content: '';
  z-index: 1;
  position: absolute;
  display: block;
  width: 80%;
  height: 70%;
  top: 15%;
  left: 10%;
  -webkit-transition: 0.3s opacity ease-in-out;
  transition: 0.3s opacity ease-in-out;
  -webkit-filter: blur(15px);
          filter: blur(15px);
  opacity: 0;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

.main-block #center_operation_windows #operation #start_btn:hover:before,
.main-block #center_operation_windows #operation #validate_btn:hover:before,
.main-block #center_operation_windows #operation #restart_btn:hover:before {
  opacity: 1;
  -webkit-transition: 0.3s opacity ease-in-out;
  transition: 0.3s opacity ease-in-out;
  -webkit-filter: blur(25px);
          filter: blur(25px);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

.main-block #center_operation_windows #operation #start_btn:after,
.main-block #center_operation_windows #operation #validate_btn:after,
.main-block #center_operation_windows #operation #restart_btn:after {
  content: 'PLAY !';
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  color: #ebebeb;
  font-weight: bold;
  z-index: 5;
  position: absolute;
  display: block;
  border-radius: 180px;
  width: 92%;
  height: 80%;
  top: 10%;
  left: 4%;
  background-color: #151924;
}

.main-block #center_operation_windows #operation #validate_btn:after {
  content: 'OK';
}

.main-block #center_operation_windows #operation div {
  margin: 5px;
}

.main-block #center_operation_windows #operation input {
  margin: 5px;
}

#right {
  margin-top: 50px;
  width: 300px;
  text-align: center;
  position: relative;
  right: 20px;
}

#right .date {
  height: 120px;
}

#right .theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#right .theme.open .menu-btn_plus {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#right .theme.open .menu-btn_plus::before {
  -webkit-transform: rotate(450deg);
          transform: rotate(450deg);
}

#right .theme .menu-btn {
  text-align: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border-style: double;
  border-color: rgba(75, 75, 75, 0.377);
  background-color: rgba(75, 75, 75, 0.377);
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#right .theme .menu-btn.open .menu-btn_plus {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#right .theme .menu-btn.open .menu-btn_plus::before {
  -webkit-transform: rotate(450deg);
          transform: rotate(450deg);
}

#right .theme .menu-btn_plus {
  position: absolute;
  width: 20px;
  height: 5px;
  background: white;
  border-radius: 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#right .theme .menu-btn_plus::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 5px;
  background: white;
  border-radius: 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#right .theme .nav-menu {
  padding: 0;
  list-style: none;
  text-align: center;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  pointer-events: none;
}

#right .theme .nav-menu li {
  text-align: center;
  opacity: 0;
  padding: 4px;
}

#right .theme .nav-menu li a {
  text-decoration: none;
  color: white;
  padding: 0 5px 0 5px;
  border-style: double;
  border-color: rgba(75, 75, 75, 0.377);
  border-radius: 20%;
  background-color: rgba(75, 75, 75, 0.377);
  cursor: default;
}

#right .theme .nav-menu.closed li {
  -webkit-animation-name: slideout;
          animation-name: slideout;
  -webkit-animation-duration: .7s;
          animation-duration: .7s;
  opacity: 0;
}

@-webkit-keyframes slideout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#right .theme .nav-menu.open li {
  display: block;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  opacity: 1;
}

#right .theme .nav-menu.open li a {
  cursor: pointer;
  pointer-events: initial;
}

@-webkit-keyframes slidein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#footer {
  height: 50px;
}

.dropdown {
  --max-scroll: 8;
  --text: #3F4656;
  --border: #2F3545;
  --borderActive: #23C4F8;
  --background: #151924;
  --arrow: #6C7486;
  --arrowActive: #E4ECFA;
  --listText: #99A3BA;
  --listBackground: #F5F9FF;
  --listActive: #E4ECFA;
  --listTextActive: #6C7486;
  --listBorder: none;
  --textFilled: #99A3BA;
  margin: auto;
  width: 220px;
  position: relative;
}

.dropdown select {
  display: none;
}

.dropdown > span {
  cursor: pointer;
  padding: 9px 16px;
  border-radius: 6px;
  display: block;
  position: relative;
  color: var(--text);
  border: 1px solid var(--border);
  background: var(--background);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.dropdown > span:before, .dropdown > span:after {
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 2px;
  border-radius: 1px;
  top: 50%;
  right: 15px;
  background: var(--arrow);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.dropdown > span:before {
  margin-right: 4px;
  -webkit-transform: scale(0.96, 0.8) rotate(50deg);
          transform: scale(0.96, 0.8) rotate(50deg);
}

.dropdown > span:after {
  -webkit-transform: scale(0.96, 0.8) rotate(-50deg);
          transform: scale(0.96, 0.8) rotate(-50deg);
}

.dropdown ul {
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  max-height: calc(var(--max-scroll) * 42px);
  top: 42px;
  left: 0;
  z-index: 10;
  right: 0;
  background: var(--listBackground);
  border-radius: 6px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: opacity 0.2s ease, visibility 0.2s ease, -webkit-transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  transition: opacity 0.2s ease, visibility 0.2s ease, -webkit-transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32), -webkit-transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  -webkit-transform: scale(0.8) translate(0, 4px);
          transform: scale(0.8) translate(0, 4px);
  border: 1px solid var(--listBorder);
}

.dropdown ul li {
  opacity: 0;
  -webkit-transform: translate(6px, 0);
          transform: translate(6px, 0);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.dropdown ul li a {
  cursor: pointer;
  display: block;
  padding: 10px 16px;
  color: var(--listText);
  text-decoration: none;
  outline: none;
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.dropdown ul li a:hover {
  color: var(--listTextActive);
}

.dropdown ul li.active a {
  color: var(--listTextActive);
  background: var(--listActive);
}

.dropdown ul li.active a:before, .dropdown ul li.active a:after {
  --scale: .6;
  content: '';
  display: block;
  width: 10px;
  height: 2px;
  position: absolute;
  right: 17px;
  top: 50%;
  opacity: 0;
  background: var(--listText);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.dropdown ul li.active a:before {
  -webkit-transform: rotate(45deg) scale(var(--scale));
          transform: rotate(45deg) scale(var(--scale));
}

.dropdown ul li.active a:after {
  -webkit-transform: rotate(-45deg) scale(var(--scale));
          transform: rotate(-45deg) scale(var(--scale));
}

.dropdown ul li.active a:hover:before, .dropdown ul li.active a:hover:after {
  --scale: .9;
  opacity: 1;
}

.dropdown ul li:first-child a {
  border-radius: 6px 6px 0 0;
}

.dropdown ul li:last-child a {
  border-radius: 0 0 6px 6px;
}

.dropdown.filled > span {
  color: var(--textFilled);
}

.dropdown.open > span {
  border-color: var(--borderActive);
}

.dropdown.open > span:before, .dropdown.open > span:after {
  background: var(--arrowActive);
}

.dropdown.open > span:before {
  -webkit-transform: scale(0.96, 0.8) rotate(-50deg);
          transform: scale(0.96, 0.8) rotate(-50deg);
}

.dropdown.open > span:after {
  -webkit-transform: scale(0.96, 0.8) rotate(50deg);
          transform: scale(0.96, 0.8) rotate(50deg);
}

.dropdown.open ul {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1) translate(0, 12px);
          transform: scale(1) translate(0, 12px);
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32), -webkit-transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
}

.dropdown.open ul li {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.dropdown.open ul li:nth-child(1) {
  -webkit-transition-delay: 80ms;
          transition-delay: 80ms;
}

.dropdown.open ul li:nth-child(2) {
  -webkit-transition-delay: 160ms;
          transition-delay: 160ms;
}

.dropdown.open ul li:nth-child(3) {
  -webkit-transition-delay: 240ms;
          transition-delay: 240ms;
}

.dropdown.open ul li:nth-child(4) {
  -webkit-transition-delay: 320ms;
          transition-delay: 320ms;
}

.dropdown.open ul li:nth-child(5) {
  -webkit-transition-delay: 400ms;
          transition-delay: 400ms;
}

.dropdown.open ul li:nth-child(6) {
  -webkit-transition-delay: 480ms;
          transition-delay: 480ms;
}

.dropdown.open ul li:nth-child(7) {
  -webkit-transition-delay: 560ms;
          transition-delay: 560ms;
}

.dropdown.open ul li:nth-child(8) {
  -webkit-transition-delay: 640ms;
          transition-delay: 640ms;
}

.dropdown.open ul li:nth-child(9) {
  -webkit-transition-delay: 720ms;
          transition-delay: 720ms;
}

.dropdown.open ul li:nth-child(10) {
  -webkit-transition-delay: 800ms;
          transition-delay: 800ms;
}

select {
  --text: #3F4656;
  --border: #2F3545;
  --background: #151924;
}

select.dropdown {
  padding: 9px 16px;
  border-radius: 6px;
  color: var(--text);
  border: 1px solid var(--border);
  background: var(--background);
  line-height: 22px;
  font-size: 16px;
  font-family: inherit;
  -webkit-appearance: none;
}
/*# sourceMappingURL=style.css.map */